/* Start Global variblies */
:root {
  --main-color: #9d23b8;
  --sec-color: #dcb91f;
  --gold: #fdca6e;
}

/* End Global variblies */

/* Start Global Rules */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

::selection {
  background-color: var(--main-color);
  color: white;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: rgb(232 245 233);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
  height: 100px;
  padding: 0 20px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
/* End Global Rules */

/* Start Custom */
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.default-button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  font-size: 20px;
  text-transform: capitalize;
}

.special-word {
  color: rgb(232 65 145);
  position: relative;
  text-shadow: 0 3px white;
  text-transform: lowercase;
  margin: 0 15px;
}
.special-word::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 120%;
  height: 30px;
  border-radius: 25px;
  background-color: rgb(81 240 191);
  z-index: -1;
}

@media (min-width: 768px) {
  .special-word::after {
    height: 50px;
  }
}

.content-hidden {
  display: none;
}
/* End Custom */

/* Start Nav Bar */
.navbar {
  box-shadow: 0px 2px 21px -15px #717171;
  padding: 20px 0;
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 95;
}
.navbar .container {
  position: relative;
}

.navbar .logo {
  gap: 10px;
}

.navbar .logo > i {
  color: var(--main-color);
  font-size: 24px;
}

.navbar .logo .menu {
  display: none;
  border-radius: 10px;
  padding: 10px 10px;
  transition: 0.3s;
  cursor: pointer;
}

.navbar .logo .menu:hover {
  background-color: #f0efef;
}

.navbar .logo .menu i {
  color: black;
  font-size: 24px;
}

.navbar .links ul li {
  color: var(--main-color);
  font-weight: 700;
  cursor: pointer;
  font-size: 20px;
}

.navbar .links ul li.circal {
  min-width: 5px;
  min-height: 5px;
  background-color: var(--sec-color);
  margin: 0 15px;
  border-radius: 50%;
}

@media (max-width: 991px) {
  .navbar .logo .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar .logo > i {
    display: none;
  }

  .navbar .links ul li.circal {
    display: none;
  }

  .hidden {
    display: none;
  }
}

.navbar .signIn button {
  background-color: black;
  color: white;
  font-weight: 700;
}
/* End Nav Bar */

/* Start arrow to top */

.arrow-to-top {
  width: 70px;
  height: 70px;
  background-color: var(--main-color);
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 24px;
  z-index: 94;
}

/* End arrow to top */

/* Start drawer */

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  padding: 20px;
}

@media (min-width: 556px) {
  .drawer {
    width: 400px;
  }
}

.outlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.608);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  cursor: pointer;
}

.drawer .icon i {
  color: black;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: var(--main-color);
  }
}
.drawer .logos {
  display: flex;
  align-items: center;
  gap: 10px;
}
.drawer .logos i {
  font-size: 24px;
  color: var(--main-color);
}
.drawer .logos h1 {
  font-size: 40px;
}

.drawer .links {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}

.drawer .links li a {
  font-size: 20px;
  font-weight: 900;
  text-transform: capitalize;
  width: 100%;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  /* background-color: black; */
  /* color: white; */
  transition: 0.3s;
  &:hover {
    background-color: var(--main-color);
    color: white;
  }
}

/* End drawer */

/* Start Home */
.home {
  padding: 60px 0 0 0;
  position: relative;
}

.home::after {
  content: "";
  position: absolute;
  top: -30px;
  right: -100px;
  width: 600px;
  height: 600px;
  display: none;
  transform: rotate(45deg);
  border-radius: 120px;
  background-color: rgba(255, 231, 47, 0.251);
  z-index: -10;
}

@media (min-width: 556px) {
  .home::after {
    display: block;
  }
}
@media (min-width: 992px) {
  .home::after {
    top: -230px;
    right: -180px;
    width: 900px;
    height: 900px;
  }
}

.home .titles {
  text-align: center;
  margin-bottom: 80px;
}

.home .titles .main-title {
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
}

.home .titles .sec-title {
  font-size: 25px;
  margin-top: -15px;
  font-weight: 900;
  text-transform: capitalize;
}

@media (min-width: 556px) {
  .home .titles .main-title {
    font-size: 50px;
    font-weight: 900;
    text-transform: capitalize;
  }
  .home .titles .sec-title {
    font-size: 30px;
    margin-top: -15px;
    font-weight: 900;
    text-transform: capitalize;
  }
}

@media (min-width: 768px) {
  .home .titles .main-title {
    font-size: 80px;
    font-weight: 900;
    text-transform: capitalize;
  }
  .home .titles .sec-title {
    font-size: 55px;
    margin-top: -15px;
    font-weight: 900;
    text-transform: capitalize;
  }
}

.home .gallery {
  height: 200px;
  width: 95%;
  gap: 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(14, 1fr);
  grid-template-areas:
    ". . . g1 g1 g1 g1 g1 . . . ."
    "g2 g2 g2 g1 g1 g1 g1 g1 . . . ."
    "g2 g2 g2 g1 g1 g1 g1 g1 g3 g3 g4 g4"
    "g2 g2 g2 g1 g1 g1 g1 g1 g3 g3 g4 g4"
    "g2 g2 g2 g1 g1 g1 g1 g1 g3 g3 g4 g4"
    "g2 g2 g2 g1 g1 g1 g1 g1 g3 g3 g4 g4"
    "g2 g2 g2 g5 g5 g5 g6 g6 g6 g6 g7 g7"
    "g2 g2 g2 g5 g5 g5 g6 g6 g6 g6 g7 g7"
    "g8 g8 g8  g5 g5 g5 g6 g6 g6 g6 g7 g7"
    "g8 g8 g8 g5 g5 g5 g6 g6 g6 g6 g7 g7"
    ". . . g5 g5 g5 g6 g6 g6 g6 . ."
    ". . . . . . g6 g6 g6 g6 . .";
}

@media (min-width: 556px) {
  .home .gallery {
    height: 400px;

    gap: 10px;
  }
}
@media (min-width: 768px) {
  .home .gallery {
    height: 600px;

    gap: 10px;
  }
}

@media (min-width: 992px) {
  .home .gallery {
    height: 800px;

    gap: 15px;
  }
}

@media (min-width: 1200px) {
  .home .gallery {
    height: 1000px;
    gap: 20px;
  }
}

.home .gallery .gallery-1 {
  background-color: #00b894;
  grid-area: g1;
  border-radius: 20px;
  background-image: url("./assets/images/blog.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home .gallery .gallery-2 {
  background-color: #fdca6e;
  grid-area: g2;
  border-radius: 20px;
  background-image: url("./assets/images/question.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home .gallery .gallery-3 {
  background-color: #a19bfd;
  grid-area: g3;
  border-radius: 20px;
  background-image: url("./assets/images/infrastructure.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home .gallery .gallery-4 {
  background-color: #148bff;
  grid-area: g4;
  border-radius: 20px;
  background-image: url("./assets/images/heroImage.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home .gallery .gallery-5 {
  grid-area: g5;
  background-color: var(--main-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 900;
  color: white;
}

@media (min-width: 768px) {
  .home .gallery .gallery-5 {
    font-size: 40px;
  }
}

.home .gallery .gallery-6 {
  background-color: #6d5ce8;
  grid-area: g6;
  border-radius: 20px;
  background-image: url("./assets/images/finishing.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home .gallery .gallery-7 {
  background-color: #ff7674;
  grid-area: g7;
  border-radius: 20px;
  background-image: url("./assets/images/building.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home .gallery .gallery-8 {
  grid-area: g8;
  border-radius: 20px;
}

.home .gallery button {
  width: 100%;
  height: 30px;
  font-size: 16px;
  border-radius: 50px;
  color: var(--main-color);
  font-weight: 700;
  background-color: white;
  box-shadow: 0px 13px 21px -15px #717171;
}

@media (min-width: 556px) {
  .home .gallery button {
    height: 30px;
    font-size: 16px;
    box-shadow: 0px 12px 15px -11px #717171;
  }
}
@media (min-width: 768px) {
  .home .gallery button {
    height: 40px;
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .home .gallery button {
    height: 70px;
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .home .gallery button {
    height: 100px;
    font-size: 30px;
  }
}

/* End Home */

/* Start feature */

.featuresContainer {
  padding: 0 0 40px;
}

.featuresContainer .titles {
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .featuresContainer .titles {
    text-align: center;
  }
}
.featuresContainer .titles .main-title {
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
}

.featuresContainer .titles .sec-title {
  font-size: 33px;
  font-weight: 900;
  color: var(--main-color);
  text-transform: capitalize;
}

.featuresContainer .titles .decription-title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
}

.featuresContainer .features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 5px;
}

@media (min-width: 992px) {
  .featuresContainer .features {
    grid-template-columns: repeat(4, 1fr);
  }
}

.featuresContainer .features .feature {
  padding: 5px;
}

.featuresContainer .features .feature .icon-container {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featuresContainer .features .feature:nth-of-type(1) .icon-container {
  background-color: #6d5ce8;
}
.featuresContainer .features .feature:nth-of-type(2) .icon-container {
  background-color: #dcb91f;
}
.featuresContainer .features .feature:nth-of-type(3) .icon-container {
  background-color: #ef157e;
}
.featuresContainer .features .feature:nth-of-type(4) .icon-container {
  background-color: #ff7674;
}

.featuresContainer .features .feature .icon-container i {
  font-size: 24px;
  color: white;
}
.featuresContainer .features .feature h2 {
  text-transform: capitalize;
}

.featuresContainer .features .feature p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.featuresContainer .features .feature button {
  padding: 10px 30px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  background-color: white;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
}

/* End feature */

/* Start pricing */

.pricing {
  padding: 0 0 40px;
}

.pricing .container .pricing-titles {
  text-align: center;
  margin-bottom: 50px;
}

.pricing .container .pricing-titles .main-title {
  font-size: 50px;
  font-weight: 900;
}

.pricing .container .pricing-titles .sub-title {
  color: #959595;
  font-size: 24px;
  font-weight: 700;
}

.pricing .container .pricing-titles .special {
  color: var(--main-color);
  position: relative;
}

.pricing .container .pricing-titles .special::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  height: 10px;
  border-radius: 25px;
  background-color: var(--gold);
  z-index: -1;
}

.pricing .container .pricing-titles .dot {
  width: 7px;
  height: 7px;
  background-color: #959595;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
}

.pricing .container .pricing-plans {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

@media (min-width: 992px) {
  .pricing .container .pricing-plans {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pricing .container .pricing-plans .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: white;
  transition: 0.3s;
  border: 1px black solid;
  height: 100%;
  cursor: pointer;
  &:hover {
    transform: translateY(-20px);
  }
}

.pricing .container .pricing-plans div:nth-of-type(1) .card:hover {
  border-color: #666;
  box-shadow: 0 0 20px #666;
  & .title p {
    color: #666;
  }
  & .title p i {
    color: #666;
  }
  & .icon-container {
    background-color: #666;
    color: white;
    border-color: #666;
  }
  & .price {
    color: #666;
  }
  & button {
    color: #666;
    border-color: #666;
  }
}
.pricing .container .pricing-plans div:nth-of-type(2) .card:hover {
  border-color: var(--gold);
  box-shadow: 0 0 20px var(--gold);
  & .title p {
    color: var(--gold);
  }
  & .title p i {
    color: var(--gold);
  }
  & .title .label {
    background-color: var(--gold);
    border-color: var(--gold);
    color: white;
  }
  & .icon-container {
    background-color: var(--gold);
    color: white;
    border-color: var(--gold);
  }
  & .price {
    color: var(--gold);
  }
  & button {
    color: var(--gold);
    border-color: var(--gold);
  }
}

.pricing .container .pricing-plans div:nth-of-type(3) .card:hover {
  border-color: var(--main-color);
  box-shadow: 0 0 20px var(--main-color);
  & .title p {
    color: var(--main-color);
  }
  & .title p i {
    color: var(--main-color);
  }
  & .icon-container {
    background-color: var(--main-color);
    color: white;
    border-color: var(--main-color);
  }
  & .price {
    color: var(--main-color);
  }
  & button {
    color: var(--main-color);
    border-color: var(--main-color);
  }
}

.pricing .container .pricing-plans .title {
  display: flex;
  justify-content: space-between;
}

.pricing .container .pricing-plans .title p {
  font-weight: 700;
  color: black;
  transition: 0.3s;
}

.pricing .container .pricing-plans .title p i {
  color: black;
  transition: 0.3s;
}

.pricing .container .pricing-plans .title .label {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: black;
  border-radius: 20px;
  padding: 0 20px;
}

.pricing .container .pricing-plans .price {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.pricing .container .pricing-plans .price span {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.pricing .container .pricing-plans .features .feature {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.pricing .container .pricing-plans .features .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
  color: white;
  transition: 0.3s;
}

.pricing .container .pricing-plans .features p {
  text-transform: capitalize;
}

.pricing .container .pricing-plans button {
  border: 1px solid black;
  padding: 20px 0;
  background-color: white;
  border-radius: 15px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  color: black;
  transition: 0.3s;
}

.pricing .container .pricing-plans div:nth-of-type(1) .card button:hover {
  background-color: #666;
  color: white;
}
.pricing .container .pricing-plans div:nth-of-type(2) .card button:hover {
  background-color: var(--gold);
  color: white;
}
.pricing .container .pricing-plans div:nth-of-type(3) .card button:hover {
  background-color: var(--main-color);
  color: white;
}

/* End pricing */

.content,
.content-mobile {
  max-width: 100%;
  overflow-x: hidden;
}

/* Start home mobile */

.home-mobile {
  padding: 40px 0;
  position: relative;
}

.home-mobile::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 450px;
  background-color: rgba(255, 231, 47, 0.251);
  top: 0;
  z-index: -10;
}
.home-mobile::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #fdcb6e68;
  top: 10%;
  left: 100%;
  border-radius: 75px;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -9;
}

.home-mobile .titles {
  text-align: center;
}
.home-mobile .titles .main-mobile-titles {
  font-size: 65px;
  font-weight: 900;
  text-transform: capitalize;
}
.home-mobile .titles .sec-mobile-title {
  margin-top: -30px;
  font-size: 50px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.home-mobile .titles .special-word {
  text-transform: capitalize;
}
.home-mobile .titles .special-word::after {
  height: 20px;
  transform: translate(-50%, 50%);
}
.home-mobile .titles .description {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.home-mobile .titles .arrow-down {
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.home-mobile .titles .arrow-down i {
  font-size: 35px;
  color: var(--main-color);
}

.home-mobile .gallery-mobile {
  margin-top: 40px;
  display: grid;
  gap: 5px;
  height: 700px;
  width: 105%;
  transform: translateX(-2.5%);
  margin-left: auto;
  margin-right: auto;
  grid-template-areas:
    ". . g1 g1 g1 g1 g1 g1 g1 g1 g1 g1 . ."
    ". . g1 g1 g1 g1 g1 g1 g1 g1 g1 g1 . ."
    "g2 g2 g1 g1 g1 g1 g1 g1 g1 g1 g1 g1 . ."
    "g2 g2 g1 g1 g1 g1 g1 g1 g1 g1 g1 g1 g3 g3"
    "g2 g2 g1 g1 g1 g1 g1 g1 g1 g1 g1 g1 g3 g3"
    "g2 g2 g1 g1 g1 g1 g1 g1 g1 g1 g1 g1 g3 g3"
    "g2 g2 g1 g1 g1 g1 g1 g1 g1 g1 g1 g1 g3 g3"
    "g2 g2 g4 g4 g4 g4 g4 g4 g4 g4 g5 g5 g5 g5"
    "g2 g2 g4 g4 g4 g4 g4 g4 g4 g4 g5 g5 g5 g5"
    "g2 g2 g4 g4 g4 g4 g4 g4 g4 g4 g5 g5 g5 g5"
    "g2 g2 g4 g4 g4 g4 g4 g4 g4 g4 g5 g5 g5 g5"
    "g6 g6 g4 g4 g4 g4 g4 g4 g4 g4 g5 g5 g5 g5"
    "g6 g6 g4 g4 g4 g4 g4 g4 g4 g4 g5 g5 g5 g5"
    "g6 g6 g7 g7 g7 g7 g7 g7 g7 g7 g5 g5 g5 g5"
    "g6 g6 g7 g7 g7 g7 g7 g7 g7 g7 g5 g5 g5 g5"
    "g6 g6 g7 g7 g7 g7 g7 g7 g7 g7 g8 g8 g8 g8"
    ". . g7 g7 g7 g7 g7 g7 g7 g7 . . . . "
    ". . g7 g7 g7 g7 g7 g7 g7 g7 . . . . ";
}
.home-mobile .gallery-mobile .gallery-1 {
  background-color: #fdca6e;
  grid-area: g1;
  border-radius: 10px;
  background-image: url("./assets/images/blog.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home-mobile .gallery-mobile .gallery-2 {
  background-color: #00b894;
  grid-area: g2;
  border-radius: 10px;
  background-image: url("./assets/images/question.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.home-mobile .gallery-mobile .gallery-3 {
  background-color: #a19bfd;
  grid-area: g3;
  border-radius: 10px;
  background-image: url("./assets/images/infrastructure.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.home-mobile .gallery-mobile .gallery-4 {
  grid-area: g4;
  background-color: var(--main-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 900;
  color: white;
}
.home-mobile .gallery-mobile .gallery-5 {
  background-color: #e84392;
  grid-area: g5;
  border-radius: 10px;
  background-image: url("./assets/images/heroImage.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.home-mobile .gallery-mobile .gallery-6 {
  background-color: #6d5ce8;
  grid-area: g6;
  border-radius: 10px;
  background-image: url("./assets/images/finishing.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.home-mobile .gallery-mobile .gallery-7 {
  background-color: #ff7674;
  grid-area: g7;
  border-radius: 10px;
  background-image: url("./assets/images/building.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.home-mobile .gallery-mobile .gallery-8 {
  grid-area: g8;
  border-radius: 10px;
}
.home-mobile .gallery-mobile .gallery-8 button {
  width: 95%;
  background-color: black;
  color: white;
}

/* End home mobile */

/* Start pricing */

.content-mobile .pricing .container .pricing-titles {
  text-align: left;
  margin-bottom: 10px;
}

/* End pricing */
